<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title" [ngStyle]="getImg()">
    <h2 class="mdl-card__title-text">{{item.title}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {{item.author.name}}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <payment-add-to-cart (click)="addToCart(item)"></payment-add-to-cart>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">favorite_border</i>
    </button>
  </div>
</div>
