<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <script type="slot" name="page-title"></script>
    <script>
      (function (d) {
        require(d);
        console.log(d);
        var arr = ['webcomponent', 'bootstrap', 'fireBase', 'FireBaseUI'];
        while (i = arr.pop()) (function (dep) {
          define(dep, d, function (b) {
            console.log(b);
            return b[dep];
          })
        })(i);
      }(['/common/dist/bundle.js']));
    </script>
</head>
<body>

</body>
</html>