<!doctype html>
<html>
<head>
    <title>Micro Frontend Example Application</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <style>
        body {
            background: #ECEFF4;
        }
    </style>
    <script>
      (function(d) {
        require(d);
        var arr = [ 'common'];
        while (i = arr.pop())(function(dep) {
          define(dep, d, function(b) {
            return b[dep];
          })
        })(i);
      }(['http://localhost:8083/dist/bundle.js']));
    </script>
</head>
<body>
<angular-header></angular-header>
<react-fragment></react-fragment>
<fragment src="http://localhost:8081" async></fragment>
<fragment src="http://localhost:8082" async></fragment>
</body>
</html>