<!doctype html>
<html>
<head>
    <title>Micro Frontend Example Application</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <style>
        body {
            background: #ECEFF4;
        }
    </style>
    <script>
    </script>
</head>
<body>
<angular-header></angular-header>
<react-fragment></react-fragment>
<fragment src="http://localhost:8081" async></fragment>
<fragment src="http://localhost:8082" async></fragment>
<fragment src="http://localhost:8083" primary></fragment>
</body>
</html>